<div class="container">
  <div class="level">
    <div class="level-left">
    </div>
    <div class="level-right">
      <button (click)="openModal('createBannerModal')" class="button is-success is-large level-item">New Banner</button>
    </div>
  </div>
  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Title</th>
        <th>Message</th>
        <th>Color</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let banner of activeBanners; let i = index">
        <tr>
          <td>{{banner.title}}</td>
          <td>{{banner.message}}</td>
          <td class="has-text-white" [style.background-color]="banner.color">{{banner.color}}</td>
          <td>{{banner.start_date.toDate() | date}}</td>
          <td>{{banner.end_date.toDate() | date}}</td>
          <td>
            <div class="dropdown is-hoverable">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                  <span>Options</span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                <div class="dropdown-content">
                  <a (click)="editBanner(banner)" class="dropdown-item">
                    Edit
                  </a>
                  <hr class="dropdown-divider">
                  <a (click)="deleteBanner(banner)" class="dropdown-item">
                    Delete
                  </a>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<app-modal id="createBannerModal">
  <header class="modal-card-head">
    <p class="modal-card-title title is-2">Create/Edit Banner</p>
    <button class="delete" aria-label="close" (click)="clearNewBanner();closeModal('createBannerModal')"></button>
  </header>
  <section class="modal-card-body">
    <div class="field">
      <label class="label">Title: </label>
      <div class="control">
        <input [(ngModel)]="newBanner.title" class="input" type="text" placeholder="New Banner Title">
      </div>
    </div>
    <div class="field">
      <label class="label">Message: </label>
      <div class="control">
        <textarea [(ngModel)]="newBanner.message" class="textarea" rows="{{newBanner.message.length/20 + 2}}" placeholder="New Banner Message"></textarea>
      </div>
    </div>
    <div class="field">
      <label class="label">Color: </label>
      <div class="control">
        <input [(ngModel)]="newBanner.color" class="input" type="color" placeholder="Black">
      </div>
    </div>
    <div class="field">
      <label class="label">Start Date: </label>
      <div class="control">
        <input [(ngModel)]="newBanner.start_date" value="newBanner.start_date.toDate()" class="input" type="date">
      </div>
    </div>
    <div class="field">
      <label class="label">End Date: </label>
      <div class="control">
        <input [(ngModel)]="newBanner.end_date" value="newBanner.end_date.toDate()" class="input" type="date">
      </div>
    </div>
  </section>
  <footer class="modal-card-foot">
    <button class="button is-success" (click)="addNewBanner()">Submit</button>
  </footer>
</app-modal>