<button (click)="openAddProductGroup()" class="button is-large is-fullwidth is-success">Add Product Group +</button>
<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th></th>
      <th>#</th>
      <th>Group Name</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody cdkDropList (cdkDropListDropped)="drop($event)">
    <ng-container *ngFor="let group of productGroups; let i = index;let first = first">
      <tr *ngIf="group !== undefined" [attr.id]="'productGroupRow' + i" (click)="productGroupRowSelected(group, i)" [class.is-selected]="first" cdkDrag>
        <td>
          <span class="icon is-large">
            <i class="fa fa-bars fa-3x"></i>
          </span>
        </td>
        <td class="is-size-4">
          {{group.display_order}}
        </td>
        <td class="is-size-4">{{group.name}}
        </td>
        <td>
          <div class="dropdown is-hoverable" [attr.id]="'productGroupDropdown' + i">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                <span>Options</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu2" role="menu">
              <div class="dropdown-content">
                <a *ngIf="group.hidden" (click)="toggleGroupHidden(group)" class="dropdown-item">
                  Show
                </a>
                <a *ngIf="!group.hidden" (click)="toggleGroupHidden(group)" class="dropdown-item">
                  Hide
                </a>
                <hr class="dropdown-divider">
                <a (click)="openEditProductGroup(group)" class="dropdown-item">
                  Edit
                </a>
                <hr class="dropdown-divider">
                <a (click)="openDeleteProductGroup(group)" class="dropdown-item">
                  Delete
                </a>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

<app-modal id="addProductGroupModal">
  <header class="modal-card-head">
    <p class="modal-card-title title is-2">Create New Product Group</p>
    <button class="delete" aria-label="close" (click)="clearNewProductGroup();closeModal('addProductGroupModal')"></button>
  </header>
  <section class="modal-card-body">
    <div class="field has-addons">
      <div class="control">
        <input [(ngModel)]="newProductGroup" class="input" type="text" placeholder="Product Group Name">
      </div>
      <div class="control">
        <button class="button is-info" (click)="addSubTabClicked()">Add Subgroup</button>
      </div>
    </div>
    <div class="indent-subgroups">
      <div class="field is-grouped" *ngFor="let subgroup of newSubGroups; let i = index">
        <div class="control">
          <input [(ngModel)]="subgroup.name" type="text" placeholder="SubGroup Name" class="input">
        </div>
        <div class="control">
          <button class="button delete is-large is-danger" (click)='removeSubGroup(i)'></button>
        </div>
      </div>
    </div>
  </section>
  <footer class="modal-card-foot">
    <button class="button is-success" (click)="submitAddNewProductGroup()">Create</button>
  </footer>
</app-modal>

<app-modal id="editProductGroupModal">
  <header class="modal-card-head">
    <p class="modal-card-title title is-2">Edit Product Group</p>
    <button class="delete" aria-label="close" (click)="closeModal('editProductGroupModal')"></button>
  </header>
  <section class="modal-card-body">
    <label class="label is-large">Enter a new name for {{newProductGroupName.old}}</label>
    <div class="field is-grouped">
        <input [(ngModel)]="newProductGroupName.new" class="input is-medium" type="text" placeholder="New Group Name">
    </div>
  </section>
  <footer class="modal-card-foot">
    <button class="button is-success" (click)="submitEditProductGroup()">Submit Changes</button>
  </footer>
</app-modal>

<app-modal id="deleteProductGroupModal">
  <header class="modal-card-head has-background-danger">
    <p class="modal-card-title title is-2">Delete {{deleteProductGroup.name}}</p>
    <button class="delete" aria-label="close" (click)="closeModal('deleteProductGroupModal')"></button>
  </header>
  <section class="modal-card-body">
    <p class="has-text-danger">This action deletes all subgroups and products contained within any of those subgroups and cannot be undone</p>
    <h3>Enter the name of the group to confirm: </h3>
    <strong>{{deleteProductGroup.name}}</strong>
    <div class="level">
      <div class="level-left">
        <input [(ngModel)]="deleteProductGroup.typedName" class="level-item field-input" type="text" placeholder="{{deleteProductGroup.name}}">
      </div>
    </div>
  </section>
  <footer class="modal-card-foot">
    <div class="right-submit">
      <button class="button is-danger is-large" [disabled]="deleteProductGroup.typedName !== deleteProductGroup.name" (click)="submitDeleteProductGroup()">Delete Group</button>
    </div>
  </footer>
</app-modal>
