<div>
  <form (ngSubmit)="onSubmit()" #contactForm = "ngForm">
        <div class='field'>
          <label class="label" for="firstName">First Name</label>
          <div class="control">
                <input type="text" class="input" id="firstName"
                required
                [(ngModel)]="model.firstName" name="firstName"
                #name="ngModel">
          </div>
          <p class="help is-danger" [hidden]="name.valid || name.pristine"
            class="alert alert-danger">
            First name is required
        </p>
        </div>

    <div class='field'>
          <label  class="label" for="lastName">Last Name</label>
          <div class="control">
                <input type="text" class="input" id="lastName"
                required
                [(ngModel)]="model.lastName" name = lastName
                #lastName="ngModel">
          </div>
          
          <p class="help is-danger" [hidden]="lastName.valid || lastName.pristine"
            class="alert alert-danger">
            Last name is required
        </p>
        </div>
      <!-- <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control small-input" id="lastName"
              required
              [(ngModel)]="model.lastName" name = lastName
              #lastName="ngModel">
        <div [hidden]="lastName.valid || lastName.pristine"
          class="alert alert-danger">
          Last name is required
        </div>
      </div> -->

      <div class="field">
        <label class="label" for="email">Email Address</label>
        <div class="control">
            <input type="text" class="input" id="email"
                required
                [(ngModel)]="model.email" name = email
                #email="ngModel">
        </div>
        <p class="help is-danger"[hidden]="email.valid || email.pristine"
          class="alert alert-danger">
          Email is required
    </p>
      </div>

      <div class="field">
        <label class="label" for="phoneNumber">Phone Number</label>
        <div class="control">
            <input type="text" class="input" id="phoneNumber"
                [(ngModel)]="model.phoneNumber" name = phoneNumber>
        </div>
        
      </div>

      <div class="field">
        <label class="label" for="subject">Subject</label>
        <div class="control">
                <input type="text" class="input" id="subject"
                required
                [(ngModel)]="model.subject" name = subject
                #subject="ngModel">
        </div>
        
        <p class="help is-danger" [hidden]="subject.valid || subject.pristine"
          class="alert alert-danger">
          Subject is required
    </p>
      </div>


      <div class="field">
        <label class="label" for="message">Message</label>
        <textarea rows="5" sols="25" class="textarea" id="message"
              required
              [(ngModel)]="model.message" name = message
              #message="ngModel">
        </textarea>
        <p class="help is-danger" [hidden]="message.valid || message.pristine"
          class="alert alert-danger">
          Message is required
    </p>
      </div>
      <div class="field">
        <button type="submit" class="button is-link" (click)="sendEmail()" [disabled]="!contactForm.form.valid"><strong>Submit</strong></button>

      </div>
    <!-- not sure this next line is necessary
    <button type="button" class="btn btn-default" (click)="newContact(); contactForm.reset()">New Contact</button>-->
  </form>
</div>