.small-input {
    width: 120%;
}
.inline {
    display: inline;
}
.left {
    float: left;
    padding-right: 5%;
}
.right {
    float: left;
    padding-left: 5%;
}
.col50 {
    width: 50%;
}

.large-input {
    width: 100%;
    min-height: 60%;
}