<div class="container">
    <agm-map [latitude]="latCenter" [longitude]="lngCenter">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
    <h3 class="underlined text">Address:</h3>
    <h3 class="subtext text-secondary">460 Glover St. SE<br/>
    Marietta, GA, 30060<br/></h3>
    <h3 class="underlined text">Phone:</h3>
    <h3 class="subtext text-secondary">770-458-740</h3>
    <h3 class="underlined text">Business Hours:</h3>
    <h3 class="subtext text-secondary">
        Office 8am-5pm<br/>
        Pickup/dropoff M-F 8am-4:30pm<br/>
        Delivery Hours M-Sat 8am-4:00pm<br/><br/>
        After delivery hours please inquire.
    </h3>
</div>