<div class="columns is-variable is-0">
    <div class="column">
        <agm-map [latitude]="latCenter" [longitude]="lngCenter">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
    </div>
    <div class="column">
        <h3 class="underlined text">Address:</h3>
        <h3 class="subtext text-secondary">{{address}}</h3>
        <h3 class="underlined text">Phone:</h3>
        <h3 class="subtext text-secondary">{{phone}}</h3>
        <h3 class="underlined text">Business Hours:</h3>
        <h3 class="subtext text-secondary">{{businessHours}}</h3>
    </div>
</div>