<h2 class="centered text">Contact Us</h2>
<div class="left">
    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3310.10088831714!2d-84.5415757846996!3d33.93853318063705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f516a167de3b01%3A0x32ed94070ab60a45!2sA-1+Tent+%26+Party+Rentals!5e0!3m2!1sen!2sus!4v1551724332148" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <h3 class="underlined text">Address:</h3>
        <h3 class="subtext text-secondary">460 Glover St. SE<br/>
        Marietta, GA, 30060<br/></h3>
        <h3 class="underlined text">Phone:</h3>
        <h3 class="subtext text-secondary">770-458-740</h3>
        <h3 class="underlined text">Business Hours:</h3>
        <h3 class="subtext text-secondary">
            Office 8am-5pm<br/>
            Pickup/dropoff M-F 8am-4:30pm<br/>
            Delivery Hours M-Sat 8am-4:00pm<br/><br/>
            After delivery hours please inquire.
        </h3>
    </div></div>
<div class="right">
  <app-form></app-form>
</div>