<div class="container is-fluid">
    <div class="columns is-multiline" *ngFor="let products of productData">
        <ng-container *ngFor="let dummy of [].constructor(numColumns); let i = index">
            <div *ngIf="products[i] !== undefined; else empty" class="column is-one-half-mobile">
                <app-product-tile [productName]="products[i][0]" [productSource]="products[i][1]" [path]="products[i][2]"></app-product-tile>
            </div>
            <ng-template #empty>
                <div class="column">
                </div>
            </ng-template>
        </ng-container>
    </div>
</div>