<!-- <div class="tile-is-ancestor container is-fluid top-padding">
    <section *ngFor="let productLine of products" class="level columns">
        <div class="level-item column is-3 tile-is-parent" *ngFor="let product of productLine">
            <app-product-tile class="tile-is-child box secondary" productName={{product[0]}} productSource={{product[1]}}></app-product-tile>
        </div>
    </section>
</div> -->
<div class="columns is-centered margin">
    <div class="column" *ngFor="let products of productData">
        <div class="tile is-ancestor" *ngFor="let product of products">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">{{product[0]}}</p>
                    <figure class="image is-4by3">
                        <img class="center" src="{{product[1]}}">
                    </figure>
                </article>
            </div>
        </div>
    </div>
</div>
