<button (click)="openAddProductSubgroupModal()" class="button is-large is-fullwidth is-success">Add Product Subgroup +</button>
<table class="table is-striped is-hoverable is-fullwidth">
  <tr>
    <th>#</th>
    <th>Subgroup Name</th>
    <th>Options</th>
  </tr>
  <tbody>
    <ng-container *ngFor="let subgroup of productSubgroups; let i = index;let first = first">
      <tr (click)="productSubgroupRowSelected(subgroup, i)" [attr.id]="'productSubgroupRow' + i" [class.is-selected]="first">
        <th>{{i + 1}}</th>
        <td>{{subgroup.display_name}}</td>
        <td>
          <div class="dropdown is-hoverable" [attr.id]="'productSubgroupDropdown' + i">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                <span>Options</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu2" role="menu">
              <div class="dropdown-content">
                <a *ngIf="subgroup.hidden" (click)="toggleSubgroupHidden(subgroup)" class="dropdown-item">
                  Show
                </a>
                <a *ngIf="!subgroup.hidden" (click)="toggleSubgroupHidden(subgroup)" class="dropdown-item">
                  Hide
                </a>
                <hr class="dropdown-divider">
                <a (click)="openEditProductSubgroupModal(subgroup)" class="dropdown-item">
                  Edit
                </a>
                <hr class="dropdown-divider">
                <a (click)="openDeleteProductSubgroupModal(subgroup)" class="dropdown-item">
                  Delete
                </a>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

<app-modal id="addProductSubgroupModal">
  <header class="modal-card-head">
      <p *ngIf="currentGroupSelection !== undefined" class="modal-card-title title is-2">Add Subgroup To {{currentGroupSelection.name}}</p>
      <p *ngIf="currentGroupSelection === undefined" class="modal-card-title title is-2">Add Subgroup</p>
      <button class="delete" aria-label="close" (click)="clearNewProductSubgroup();closeModal('addProductSubgroupModal')"></button>
  </header>
  <section class="modal-card-body">
    <div class="level" *ngFor="let obj of newSubgroupObjects; let i = index;">
      <div class="level-left">
        <h3 class="level-item" style="display: inline">{{i + 1}}.</h3>
        <input class="level-item" [(ngModel)]="newSubgroupObjects[i].name" class="field-input" type="text" placeholder="New Subgroup Name">
        <button *ngIf="i !== 0" class="button level-item delete is-medium is-danger" (click)='removeSubgroupObject(i)'></button>
        <button *ngIf="i === (newSubgroupObjects.length - 1)" (click)="addSubgroup()" class="level-item button is-large primary">Add Subgroup</button>
      </div>
    </div>
  </section>
  <footer class="modal-card-foot">
      <div class="right-submit">
        <button class="button-std primary" (click)="addNewSubgroup()">Submit</button>
      </div>
    </footer>
</app-modal>

<app-modal id="editProductSubgroupModal">
  <header class="modal-card-head">
    <p class="modal-card-title title is-2">Edit Product Subgroup</p>
    <button class="delete" aria-label="close" (click)="closeModal('editProductSubgroupModal')"></button>
  </header>
  <section class="modal-card-body">
    <h2>Enter a new name for this Subgroup</h2>
    <div class="level">
      <div class="level-left">
        <input [(ngModel)]="editProductSubgroup.newName" class="level-item field-input" type="text" placeholder="{{editProductSubgroup.oldName}}">
      </div>
    </div>
  </section>
  <footer class="modal-card-foot">
    <div class="right-submit">
      <button class="button-std primary" (click)="submitEditProductSubgroup()">Submit Changes</button>
    </div>
  </footer>
</app-modal>

<app-modal id="deleteProductSubgroupModal">
  <header class="modal-card-head has-background-danger">
    <p class="modal-card-title title is-2">Delete {{deleteProductSubgroup.display_name}}</p>
    <button class="delete" aria-label="close" (click)="closeModal('deleteProductSubgroupModal')"></button>
  </header>
  <section class="modal-card-body">
    <p class="has-text-danger">This action deletes all of the products contained within this subgroup and cannot be undone</p>
    <h3>Enter the name of the subgroup to confirm: </h3>
    <strong>{{deleteProductSubgroup.display_name}}</strong>
    <div class="level">
      <div class="level-left">
        <input [(ngModel)]="deleteProductSubgroup.typedName" class="level-item field-input" type="text" placeholder="{{deleteProductSubgroup.display_name}}">
      </div>
    </div>
  </section>
  <footer class="modal-card-foot">
    <div class="right-submit">
      <button class="button is-danger is-large" [disabled]="deleteProductSubgroup.typedName !== deleteProductSubgroup.display_name" (click)="submitDeleteProductSubgroup()">Delete Group</button>
    </div>
  </footer>
</app-modal>