<div class="container is-fluid">
  <div class="level is-mobile is-paddingless is-marginless">
    <div class="level-left">
    </div>
    <div class="level-right">
      <button (click)="openAddPackage()" class="level-item button is-success">Create New Package</button>
    </div>
  </div>
  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Group Name</th>
        <th>Pictures</th>
        <th>Description</th>
        <th>Items</th>
        <th>Price</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="drop($event)">
      <ng-container *ngFor="let package of packages; let i = index;let first = first">
        <tr *ngIf="package !== undefined" cdkDrag>
          <td>{{package.name}}</td>
          <td>
            <img class="image is-32x32" *ngFor="let url of package.image_urls" [src]=url>
            <img class="image is-32x32" *ngIf="package.image_urls.length === 0" src="../../../../assets/images/notfound.png">
          </td>
          <td>
            {{package.description}}
          </td>
          <td>
            <input *ngFor="let item of package.items" class="input is-static" type="email" value="{{item}}" readonly>
          </td>
          <td>{{package.price | currency}}</td>
          <td>
            <div class="columns">
              <div class="column">
                <div class="dropdown is-hoverable">
                  <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                      <span>Options</span>
                      <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </button>
                  </div>
                  <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                    <div class="dropdown-content">
                      <a (click)="openEditPackage(package)" class="dropdown-item">
                        Edit
                      </a>
                      <a (click)="deletePackage(package)" class="dropdown-item">
                        Delete
                      </a>
                      <a *ngIf="package.image_urls.length >= 1" (click)="openManageImages(package)" class="dropdown-item">
                        Remove Images
                      </a>
                      <a (click)="openAddImage(package)" class="dropdown-item">
                        Add Image
                      </a>
                    </div>
                  </div>
                </div>
                <span class="top-padding icon is-large has-text-grey-lighter">
                  <i class="fa fa-bars fa-3x"></i>
                </span>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<app-modal id="addPackageModal">
  <header class="modal-card-head">
    <p class="modal-card-title title is-2">Create/Edit Package</p>
    <button class="delete" aria-label="close" (click)="closeModal('addPackageModal')"></button>
  </header>
  <section class="modal-card-body">
    <div class="field">
      <label class="label">Package Name</label>
      <div class="control">
        <input [(ngModel)]="newPackage.name" class="input" type="text" placeholder="Package Name">
      </div>
    </div>
    <div class="field">
      <label class="label">Package Description</label>
      <div class="control">
        <textarea [(ngModel)]="newPackage.description" rows="{{newPackage.description.length/70 + 1}}" class="textarea" type="text" placeholder="Package Description">
        </textarea>
      </div>
    </div>
    <div class="field">
      <label class="label">Package Price</label>
      <div class="control">
        <input [(ngModel)]="newPackage.price" class="input" type="number" placeholder="Package Price">
      </div>
    </div>
    <div class="field">
      <label class="label">Items</label>
      <div class="field is-grouped" *ngFor="let item of newPackage.items; let i = index">
        <div class="control is-expanded">
          <input [(ngModel)]="newPackage.items[i].value" type="text" placeholder="Item Name" class="input">
        </div>
        <div class="control">
          <button class="button delete is-large is-danger" (click)='removeItem(i)'></button>
        </div>
        <div *ngIf="i === 0" class="control">
          <button class="button is-success" (click)='addItem()'>Add Item</button>
        </div>
    </div>
  </div>
  </section>
  <footer class="modal-card-foot">
    <button class="button is-success" (click)="submitPackage()">Create</button>
  </footer>
</app-modal>

<app-modal id="addPackageImageModal">
  <header class="modal-card-head">
    <p class="modal-card-title title is-2">Add New Package Image</p>
    <button class="delete" aria-label="close" (click)="closeModal('addPackageImageModal')"></button>
  </header>
  <section class="modal-card-body">
    <app-picture-drop [group]=groupDummy [subgroup]=undefined [product]=productDummy></app-picture-drop>
  </section>
  <footer class="modal-card-foot">
    <div class="right-submit">
      <button class="button is-success" (click)="closeModal('addPackageImageModal')">Close</button>
    </div>
  </footer>
</app-modal>

<app-modal id="changePackageImagesModal">
  <header class="modal-card-head">
    <p class="modal-card-title title is-2">Remove Package Images</p>
    <button class="delete" aria-label="close" (click)="closeModal('changePackageImagesModal')"></button>
  </header>
  <section class="modal-card-body">
    <div *ngIf="currentChangePackage !== undefined && currentChangePackage !== null" class="columns">
      <div class="column is-4 box" *ngFor="let url of currentChangePackage.image_urls;let i = index">
        <button class="delete" aria-label="close" (click)="deletePackageImage(url, i)"></button>
        <img class="image is-128x128" [src]=url>
      </div>
    </div>
  </section>
  <footer class="modal-card-foot">
    <div class="right-submit">
      <button class="button is-success" (click)="closeModal('changePackageImagesModal')">Close</button>
    </div>
  </footer>
</app-modal>