h2 {
    margin-top: 56px;
}

.tile {
    align-items: center;
    background-color: #ededee;
    border: 20px black;
    color: #3f2b96;
    cursor: pointer;
    display: table-cell;
    height: 400px;
    max-height: 400px;
    max-width: 500px;
    text-align: center;
    vertical-align: middle;
    width: 500px;
}