h2 {
    vertical-align: middle;
}

img {
    vertical-align: middle;
}

.tile {
    align-items: center;
    background-color: #ededee;
    border: 5px black;
    color: #3f2b96;
    display: inline-block;
    height: 400px;
    left: 50%;
    /* margin: -200px 0px 0px -250px; */
    position: absolute;
    text-align: center;
    top: 50%;
    width: 500px;
}