<div *ngFor="let text of bannerTexts">
    <div *ngIf="text.display" class="notification is-info">
        <button class="delete" (click)="closeNotification(text)"></button>
        {{text.text}}
    </div>
</div>
<app-header class="header"></app-header>
<router-outlet class="section"></router-outlet>
<br/>
<footer class="footer">
    <div class="content has-text-centered is-medium">
        <p>
            <b>460 Glover St.<br/>
            Marietta, GA 30060<br/>
            770-458-7740</b>
        </p>
        <p>
            <b>Office Hours M-F 8am-5pm<br/>
            Customer Pickup/Drop-off: M-F 8am-4:30pm<br/>
            Delivery Hours: M-Sat 8-4:00pm<br/>
            After delivery hours please inquire.</b>
        </p>
        <p >
            We service the following areas and more!  Atlanta, Marietta, Smyrna, Acworth, Alpharetta, Auburn, Austell, Avondale Estates, Blairsville, Bowdon, Braselton, Bremen,
            Buford, Canton, Carrollton, Cartersville, Cedartown, Chamblee, Clarkston, College Park, Conyers, Covington, Cumming, Dacula, Dallas, Decatur, Doraville,
            Douglasville, Duluth, Dunwoody, East Point, Ellenwood, Ellijay, Fairburn, Fayette, Fayetteville, Flowery Branch, Forest Park, Glen Haven, Grayson, Hampton,
            Hapeville, Hiram, Jasper, Johns Creek, Jonesboro, Kennesaw, Lawrenceville, Lilburn, Lithia Springs, Lithonia, Locust Grove, Loganville, Mableton, Marble Hill,
            McDonough, Milton, Monticello, Morrow, Newnan, Newtown, Norcross, Peachtree City, Powder Springs, Riverdale, Rockmart, Roswell, Sandy Springs, Scottdale,
            Senoia, Snellville, Stockbridge, Stone Mountain, Suwanee, Tucker, Tyrone, Union City, Villa Rica, VInings, Westoak, Woodstock, Buckhead, Brookhaven,
            Fulton, Cobb, Cherokee, Dekalb, Gwinnett, Hall, Barrow, Walton, Newton, Rockdale, Henry, Clayton, Fayette, Cowetta, South Fulton, North Fulton,
            Douglas, Carroll, Paulding, Bartow County, Counties
        </p>
    </div>
</footer>