<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <div class="navbar-start">
      <a href="admin/database management" class="navbar-item">
        Database Management
      </a>

      <a href="admin/popular products" class="navbar-item">
        Popular Products
      </a>

      <a href="admin/banners" class="navbar-item">
        Banners
      </a>

      <a href="admin/references" class="navbar-item">
        References
      </a>

      <a href="admin/pictures" class="navbar-item">
        Manage Group and Subgroup Pictures
      </a>


      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a href="admin/contact" class="navbar-item">
            Contact Information
          </a>
          <a href="admin/email" class="navbar-item">
            Change Quote Email Address
          </a>
          <a href="admin/login" class="navbar-item">
            Sign out
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <a href="admin/login" class="navbar-item">
        {{authStatus}}
      </a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>