<div *ngIf="subgroups.length === 0 && rowData.length === 0" class="columns">
  <div class="column">
    <button (click)="openAddProductSubgroup()" class="button is-large is-fullwidth is-success">Add Subgroup +</button>
  </div>
  <div class="column">
    <button (click)="openAddProduct()" class="button is-large is-fullwidth is-success">Add Product +</button>
  </div>
</div>
<button *ngIf="subgroups.length !== 0 || rowData.length !== 0" (click)="openAddProduct()" class="button is-large is-fullwidth is-success">Add Product +</button>
<table class="table is-striped is-hoverable is-fullwidth">
  <tr>
    <th>#</th>
    <th *ngFor="let col of columnDefs">{{ col.field | titlecase }}</th>
    <th>Options</th>
  </tr>
  <tbody>
    <ng-container *ngFor="let product of rowData; let i = index;">
      <tr [class.is-selected]="first">
        <th class="is-size-4">{{i + 1}}</th>
        <td class="is-size-4" *ngFor="let col of columnDefs">{{product[col.field]}}</td>
        <td class="is-size-4">
          <div class="dropdown is-hoverable" [attr.id]="'productDropdown' + i">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                <span>Options</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu2" role="menu">
              <div class="dropdown-content">
                <a (click)="openEditProductModal(product)" class="dropdown-item">
                  Edit
                </a>
                <hr class="dropdown-divider">
                <a (click)="deleteProduct(product)" class="dropdown-item">
                  Delete
                </a>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

<app-modal id="addProductModal">
  <header class="modal-card-head">
    <p class="modal-card-title title is-2">Add Product</p>
    <button class="delete" aria-label="close" (click)="clearNewProduct();closeModal('addProductModal')"></button>
  </header>
  <section class="modal-card-body">
    <div *ngFor="let obj of newProductObjects; let i = index;" class="level">
      <div class="field is-grouped">
        <div class="control">
          <input [(ngModel)]="newProductObjects[i].key" class="input" type="text" placeholder="New Field Name">
        </div>
        <div class="control is-expanded">
          <textarea [(ngModel)]="newProductObjects[i].value" class="textarea" type="text" placeholder="Product Name" cols="20" rows="{{('' + newProductObjects[i].value).length/18 + 1}}">
          </textarea>
        </div>
        <div class="control">
          <button *ngIf="newProductObjects.length > 1" class="button level-item delete is-medium is-danger" (click)='removeProductObject(i)'></button>
        </div>
        <div class="control">
          <button *ngIf="i===(newProductObjects.length - 1)" (click)="addProductField()" class="button is-medium is-primary">Add Field</button>
        </div>
      </div>
    </div>
  </section>
  <footer class="modal-card-foot">
    <div class="right-submit">
      <button class="button is-success" (click)="addNewProduct()">Submit</button>
    </div>
  </footer>
</app-modal>

<app-modal id="editProductModal">
  <header class="modal-card-head">
    <p class="modal-card-title title is-2">Edit Product</p>
    <button class="delete" aria-label="close" (click)="clearNewProduct();closeModal('editProductModal')"></button>
  </header>
  <section class="modal-card-body">
    <div *ngFor="let obj of newProductObjects; let i = index;" class="level">
      <div *ngIf="obj.key != 'db_id' && obj.key != 'image_urls' && obj.key != 'db_name'" class="field is-grouped">
        <div class="control">
          <input [(ngModel)]="newProductObjects[i].key" class="input" type="text" placeholder="New Field Name">
        </div>
        <div class="control is-expanded">
          <textarea [(ngModel)]="newProductObjects[i].value" class="textarea" type="text" placeholder="Product Name" cols="20" rows="{{('' + newProductObjects[i].value).length/18 + 1}}">
          </textarea>
        </div>
        <div *ngIf="newProductObjects.length > 3" class="control">
          <button  class="button level-item delete is-medium is-danger" (click)='removeProductObject(i)'></button>
        </div>
        <div *ngIf="i === (newProductObjects.length - 1)" class="control">
          <button (click)="addProductField()" class="level-item button is-medium is-primary">Add Field</button>
        </div>
      </div>
    </div>
  </section>
  <footer class="modal-card-foot">
    <div class="right-submit">
      <button class="button is-success" (click)="submitEditProduct()">Submit Changes</button>
    </div>
  </footer>
</app-modal>
