.button-tab {
    background-color: #3f2b96;
    border: none;
    color: white;
    font-family: "Mosk";
    font-size: 16px;
    padding: 16px;
}

.button-tab:hover {
    cursor: pointer;    
}

.rectangle {
    background-color: #3f2b96;
    border: none;
    color: #3f2b96;
    display: inline-block;
    width: 100%;
}

.tab {
    display: inline-block;
    position: relative;
}

.tab-content {
    background-color: #3f2b96;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: white;
    display: none;
    min-width: 100%;
    position: absolute;
    z-index: 1;
}

.tab-content a {
    color: white;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
  }

.tab-content a:hover {
    background-color: #ddd;
}

.tab-content-sub {
    background-color: #3f2b96;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: white;
    display: none;
    left:100%;
    min-width: 100%;
    position: absolute;
    /* top: 0%; */
    z-index: 1;
}

.tab:hover .tab-content {
    display: block;
}

.tab:hover .button-tab:hover .tab-content-sub {
    display: block;
}