<div class="tab">
  <button class="button-tab">{{tab1}}</button>
</div>
<div class="tab">
  <button class="button-tab">{{tab2}}</button>
  <div class="tab-content">
    <a class="button-tab" href="#">Chairs</a>
    <a href="#">Tents</a>
    <a href="#">Lights</a>
  </div>
</div>
<div class="tab">
  <button class="button-tab">{{tab3}}</button>
</div>
<div class="tab">
  <button class="button-tab">{{tab4}}</button>
</div>
<div>
  <svg width="100%" height="50">
    <rect width="100" height="50"></rect>   
  </svg>
</div>
