<div class="container is-fluid">
  <div class="level is-mobile">
    <div class="level-left">
      <button (click)="openChangePopularProductOrder()" class="button is-info">Change Popular Product Order</button>
    </div>
    <div class="level-right">
      <button (click)="addProductSelected()" class="button is-success">Add Popular Product +</button>
    </div>
  </div>
  <div>
    <div class="columns is-multiline" *ngFor="let products of popularProducts">
        <ng-container *ngFor="let dummy of [].constructor(numColumns); let i = index">
            <div *ngIf="products[i] !== undefined; else empty" class="column is-one-half-mobile">
              <app-admin-product-tile 
              [productName]="products[i][0]" 
              [productSource]="products[i][1]" 
              [path]="products[i][2]" 
              [db_name]="products[i][3]"
              [display_order]="products[i][4]"
              (changeImage)="popularProductImageChangeSelected($event)"
              (edit)="editPopularProductSelected($event)"></app-admin-product-tile>
            </div>
            <ng-template #empty>
              <div class="column">
              </div>
            </ng-template>
        </ng-container>
    </div>
  </div>
</div>
<app-modal id="addPopularProductModal">
  <header class="modal-card-head">
    <p class="modal-card-title title is-2">Add Popular Product</p>
    <button class="delete" aria-label="close" (click)="closeModal('addPopularProductModal')"></button>
  </header>
  <section class="modal-card-body">
    <div class="field">
      <label class="label">Title</label>
      <div class="control">
        <input [(ngModel)]="newPopularProductTitle" class="input" type="text" placeholder="Popular Product Title">
      </div>
    </div>
    <div class="field">
      <label class="label">Assosciated Group</label>
      <div class="control">
        <div class="select">
          <select (change)="productGroupChanged($event)" [(ngModel)]="selectedProductGroup">
            <option *ngFor="let productGroup of productGroups" [ngValue]="productGroup">{{productGroup.display_name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div *ngIf="productSubgroups.length != 0" class="field">
      <label class="label">Assosciated Subgroup</label>
      <div class="control">
        <div class="select">
          <select [(ngModel)]="selectedProductSubgroup">
            <option *ngFor="let productSubgroup of productSubgroups" [ngValue]="productSubgroup">{{productSubgroup.display_name}}</option>
          </select>
        </div>
      </div>
    </div>
  </section>
  <footer class="modal-card-foot">
    <button class="button is-success" (click)="submitAddPopularProduct()">Submit Changes</button>
  </footer>
</app-modal>

<app-modal id="editPopularProductModal">
  <header class="modal-card-head">
    <p class="modal-card-title title is-2">Edit Popular Product</p>
    <button class="delete" aria-label="close" (click)="closeModal('editPopularProductModal')"></button>
  </header>
  <section class="modal-card-body">
    <div class="field">
      <label class="label">Title</label>
      <div class="control">
        <input [(ngModel)]="newPopularProductTitle" class="input" type="text" placeholder="Popular Product Title">
      </div>
    </div>
    <div class="field">
      <label class="label">Assosciated Group</label>
      <div class="control">
        <div class="select">
          <select (change)="productGroupChanged($event)" [(ngModel)]="selectedProductGroup">
            <option *ngFor="let productGroup of productGroups" [ngValue]="productGroup">{{productGroup.display_name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div *ngIf="productSubgroups.length != 0" class="field">
      <label class="label">Assosciated Subgroup</label>
      <div class="control">
        <div class="select">
          <select [(ngModel)]="selectedProductSubgroup">
            <option *ngFor="let productSubgroup of productSubgroups" [ngValue]="productSubgroup">{{productSubgroup.display_name}}</option>
          </select>
        </div>
      </div>
    </div>
  </section>
  <footer class="modal-card-foot">
    <button class="button is-success" (click)="submitEditPopularProduct()">Submit Changes</button>
  </footer>
</app-modal>

<app-modal id="changePopularProductImageModal">
    <header class="modal-card-head">
        <p class="modal-card-title title is-3">Add/Change Popular Product Image</p>
        <button class="delete" aria-label="close" (click)="closeModal('changePopularProductImageModal')"></button>
    </header>
    <section class="modal-card-body">
        <app-picture-drop [group]=groupDummy [subgroup]=subgroupDummy [product]=undefined></app-picture-drop>
    </section>
    <footer class="modal-card-foot">
        <div class="right-submit">
          <button class="button is-info is-medium" (click)="closeModal('changePopularProductImageModal')">Dismiss</button>
        </div>
    </footer>
</app-modal>

<app-modal id="changePopularProductOrderModal">
  <header class="modal-card-head">
      <p class="modal-card-title title is-3">Change Popular Products Order</p>
      <button class="delete" aria-label="close" (click)="closeModal('changePopularProductOrderModal')"></button>
  </header>
  <section class="modal-card-body">
    <table class="table is-striped is-hoverable is-fullwidth is-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Old display order</th>
          <th>Popular Product Name</th>
        </tr>
      </thead>
      <tbody cdkDropList (cdkDropListDropped)="drop($event)">
        <ng-container *ngFor="let product of newOrder">
          <tr *ngIf="product !== undefined" cdkDrag>
            <td>
              <span class="icon has-text-grey-lighter">
                <i class="fa fa-bars"></i>
              </span>
            </td>
            <td>
              {{product.display_order}}
            </td>
            <td>
              {{product.name}}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </section>
  <footer class="modal-card-foot">
    <button class="button is-success" (click)="submitChangePopularProductOrder()">Submit Changes</button>
  </footer>
</app-modal>