@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
}

h1 {
    font-family: "Mosk"; 
    font-size: 70px;
    margin: 15px;
}

h2 {
    font-family: "Mosk";
    font-size: 44px;
}

h3 {
    font-family: "Mosk";
    font-size: 22px;
    margin: 10px;
    text-decoration: underline;
}

h4 {
    font-family: "Mosk";
    font-size: 16px;
    margin: 10px;
}

img {
    margin: 10px;
}

p {
    font-family: "Mosk";
    font-size: 16px;
    margin: 16px;
}

/* 
    All global classes go here
*/
.button-std {
    background-color:#3f2b96;
    border: 1px solid #3e4c96;
    /* box-shadow:inset 0px 34px 0px -15px #3e2b96; */
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    font-family: "Mosk";
    font-weight: bold;
    padding: 15px 40px;
}

.button-std:hover {
    background-color: 1px solid #f0f0f0;
}