.tile {
    width: 100%;
}
.right {
    width: 50%;
    max-width: 50%;
    float: left;
    word-wrap: normal;
}
.left {
    float: left;
    max-width: 50%;
}
.quantity {
    display:inline-block;
}
.input {
    width: 20%;
}