<div class="tile">
    <h2>{{cartItem.productName}}</h2>
    <div class="left">
        <img src="assets/images/temp.jpg" height=180 width=180>
    </div>
    <div class="right">
        <p>Description: {{getProductDescription()}}</p>
        <p>Total Cost: {{ getPrice() | currency:'USD' }}</p>
        <p style="float:left;">Quantity:</p>
        <input style="margin-top: 5%; padding-left: 2%" 
            class="input" 
            type="number"
            [(ngModel)]="cartItem.quantity" 
            min="1" 
            oninput="validity.valid||(value='1')">
    </div>
</div>