<div *ngIf="!isProducts; else category">
  <h1 class="is-size-1 has-text-centered has-text-weight-bold">{{productName}}</h1>
  <div class="columns is-centered">
    <div class="column buffer">
      <div *ngIf="images !== undefined && images.length > 0" class="slideshow">
        <slideshow [imageUrls]="images"
                  [height]="'400px'"
                  [autoPlay]="true"
                  [showArrows]="true">
        </slideshow> 
      </div>
      <h1 class="is-size-3 has-text-centered has-text-weight-semibold">Product Description</h1>
      <p class="has-text-centered">{{productDescription}}</p>
    </div>
    <div class="column buffer">
      <div>
        <table class="table is-striped is-fullwidth is-hoverable is-bordered">
          <thead>
            <th *ngFor="let col of columnDefs">{{col | titlecase}}</th>
          </thead>
          <tbody>
            <tr *ngFor="let row of rowData">
              <td *ngFor="let col of columnDefs">
                <div *ngIf="col != 'price' && col != 'quantity'">{{row.get(col)}}</div>
                <div *ngIf="col == 'price'">{{row.get(col) | currency:'USD'}}</div>
                <div *ngIf="col == 'quantity' && row.get('price') !> 0"></div>
                <input class="input" *ngIf="col == 'quantity' && row.get('price') > 0" [ngModel]="row.get(col)" (ngModelChange)="updatePriceEstimate($event, row)" type="number" min="0">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="columns is-centered buffer-large">
        <div class="column is-two-thirds">
          <h2 class="is-size-4 has-text-weight-bold is-pulled-right">Selected Item Total: {{quoteTotal | currency}}</h2>
        </div>
        <div class="column is-one-third">
          <button class="button is-success is-pulled-right" (click)="addSelectionToCart()"><strong>Add Selection to Quote</strong></button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #category>
  <div class="container is-fluid">
    <div class="columns is-multiline" *ngFor="let products of productData">
      <ng-container *ngFor="let dummy of [].constructor(numColumns); let i = index">
        <div *ngIf="products[i] !== undefined; else empty" class="column is-one-half-mobile">
          <app-product-tile [productName]="products[i][0]" [productSource]="products[i][1]" [path]="products[i][2]"></app-product-tile>
        </div>
        <ng-template #empty>
          <div class="column">
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>
</ng-template>