button {
    display: inline-block;
    margin-left: 5%;
}

h3 {
    display: inline-block;
    margin-left: 60%;
}

p {
    text-align: center;
}

.carousel {
    /* margin: 24px; */
    max-width: 50%;
}

.description {
    display: inline-block;
    width: 100%;
    text-decoration: underline;
    margin: 24px;
}

.left {
    /* display: inline-block; */
    float: left;
    width: 50%;
    text-align: center;
}

.right {
    float: right;
    /* display: inline-block; */
    text-align: center;
    width: 50%;
}

.product-grid {
    /* float: right; */
    margin: auto;
    /* position: relative; */
    display: inline-block;
    /* width: 100%; */
}

.product-info {
    overflow: hidden;
}

.quote {
    display: block;
    margin-top: 24px;
    margin-right: 0px;
}

.slideshow {
    display: inline-block;
    margin: 10px;
    position: relative;
    text-align: center;
    width: 70%;
}

.title {
    display: block;
    position: relative;
    text-align: center
}