<div *ngIf="!isProducts; else category">
  <h1 class="is-size-1 has-text-centered has-text-weight-bold">{{productName}}</h1>
  <div class="columns is-centered">
    <div class="column buffer">
      <div class="slideshow">
        <slideshow [imageUrls]="images"
                  [height]="'400px'"
                  [autoPlay]="true"
                  [showArrows]="true">
        </slideshow> 
      </div>
      <h1 class="is-size-3 has-text-centered has-text-weight-semibold">Product Description</h1>
      <p class="has-text-centered">{{productDescription}}</p>
    </div>
    <div class="column buffer">
      <div>
        <table class="table is-striped is-fullwidth is-hoverable is-bordered">
          <thead>
            <th *ngFor="let col of columnDefs">{{col | titlecase}}</th>
            <th>Quantity</th>
          </thead>
          <tbody>
            <tr *ngFor="let row of rowData">
              <!-- Row should be a map -->
              <td *ngFor="let product of row; index as i">
                <div *ngIf="i < row.length - 2">{{product}}</div>
                <div *ngIf="i == row.length - 2">{{product | currency:'USD'}}</div>
                <input class="input" *ngIf="i == row.length - 1" [(ngModel)]="row[i]" (ngModelChange)="updatePriceEstimate()" type="number" min="0">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="columns is-centered buffer-large">
        <div class="column is-two-thirds">
          <h2 class="is-size-4 has-text-weight-bold is-pulled-right">Selected Item Total: ${{quoteTotal}}</h2>
        </div>
        <div class="column is-one-third">
          <button class="button is-success is-pulled-right" (click)="addSelectionToCart()"><strong>Add Selection to Quote</strong></button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #category>
  <div class="columns is-centered margin">
      <div class="column" *ngFor="let products of productData">
        <div *ngFor="let product of products">
            <app-product-tile [productName]="product[0]" [productSource]="product[1]" [path]="product[2]"></app-product-tile>
        </div>
      </div>
    </div>
</ng-template>