#parent {
    display: flex;
    margin: 15px;
}

#title {
    width: 40%;
    display: inline-block;
}

#contact {
    width: 40%;
    display: flex;
    text-align: center;
}

#contact-details {
    display: inline-block;
    text-align: left;
    margin: auto 20% auto 1%;
}

#contact-icon {
    display: inline-block;
    margin: auto 1% auto 0;
}

#cart {
    width: 20%;
    margin: auto;
    padding-left: 40%;
}