#parent {
    display: flex;
}

#title {
    width: 25%;
}

#contact {
    width: 50%;
}

#contact-icon {
    /* 
        TODO: Fix the centering of the contact icon
    */
}

#cart {
    width: 25%;
}