<div class="parent secondary">
  <h1 style="outline-style: none;" [routerLink]="['Popular Products']">
    A1 Rentals
  </h1>
  <div class="contact">
    <div class="contact-icon" >
      <img src="./../../assets/images/contact.png">
    </div>
    <div class="contact-details">
      <h4 class="text">Phone: 770-458-7740</h4>
      <h4 class="text">Address: 460 Glover St. SE Marietta, GA 30060</h4>
    </div>
  </div>
  <div class="cart">
    <button [routerLink]="'/Quote Cart'" class="button-std primary">View Quote</button>
  </div>
</div>
<app-tabs></app-tabs>