.parent {
    display: flex;
    margin: 15px;
}

.title {
    display: inline-block;
    width: 60%;
}

.contact {
    display: flex;
    text-align: center;
    width: 40%;
}

.contact-details {
    display: inline-block;
    margin: auto 20% auto 1%;
    text-align: left;
}

.contact-icon {
    display: inline-block;
    margin: auto 1% auto 0;
}

.cart {
    margin: auto;
    padding-left: 40%;
    width: 20%;
}