<nav class="navbar is-white" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <strong>A1 Rentals</strong>
        </a>
        <div class="navbar-item">
                770-458-7740
            </div>
            <div class="navbar-item">
                460 Glover St. SE Marietta, GA 30060
            </div>
    </div>
    <div class="navbar-menu">
        <app-tabs class="navbar-start"></app-tabs>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <button [routerLink]="'/Quote Cart'" class="button is-primary">
                        <strong>
                            View Quote
                        </strong>
                    </button>
                </div>
            </div>
        </div>
        
    </div>
</nav>
    