<div class="columns">
  <div class="column is-4">
      <button (click)="openAddProductGroup()" class="button is-large is-fullwidth primary">Add Product Group +</button>
      <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>#</th>
            <th>Group Name</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let group of products; let i = index;let first = first">
            <tr [attr.id]="'productGroupRow' + i" (click)="productGroupRowSelected(group, i)" [class.is-selected]="first">
              <th>{{group.orderNum}}</th>
              <td>{{group.name}}</td>
              <td>
                <div class="dropdown" [attr.id]="'productGroupDropdown' + i" (click)="switchDropdown('productGroupDropdown', i, $event)">
                  <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                      <span>Options</span>
                      <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </button>
                  </div>
                  <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                    <div class="dropdown-content">
                      <div *ngIf="group.hidden" (click)="toggleGroupHidden(group)" class="dropdown-item">
                          <p class="is-size-3">Show</p>
                      </div>
                      <div *ngIf="!group.hidden" (click)="toggleGroupHidden(group)" class="dropdown-item">
                          <p class="is-size-3">Hide</p>
                        </div>
                      <hr class="dropdown-divider">
                      <div (click)="openEditProductGroup(group)" class="dropdown-item">
                          <p class="is-size-3">Edit</p>
                      </div>
                      <hr class="dropdown-divider">
                      <div (click)="openDeleteGroup(group)" class="dropdown-item">
                        <p class="is-size-3">Delete</p>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
  </div>
  <div *ngIf="subGroups.length > 0" class="column">
    <button (click)="openAddProductSubGroup()" class="button is-large is-fullwidth primary">Add Product Subgroup +</button>
    <table class="table is-striped is-hoverable is-fullwidth">
      <tr>
        <th>#</th>
        <th>Subgroup Name</th>
        <th>Options</th>
      </tr>
      <tbody>
        <ng-container *ngFor="let subGroup of subGroups; let i = index;let first = first">
          <tr (click)="productSubGroupRowSelected(subGroup, i)" [attr.id]="'productSubGroupRow' + i" [class.is-selected]="first">
            <th>{{i + 1}}</th>
            <td>{{subGroup.name}}</td>
            <td>
              <div class="dropdown" [attr.id]="'productSubGroupDropdown' + i" (click)="switchDropdown('productSubGroupDropdown', i, $event)">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                    <span>Options</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                  <div class="dropdown-content">
                    <div *ngIf="subGroup.hidden" (click)="toggleSubGroupHidden(subGroup)" class="dropdown-item">
                        <p class="is-size-3">Show</p>
                    </div>
                    <div *ngIf="!subGroup.hidden" (click)="toggleGroupHidden(subGroup)" class="dropdown-item">
                        <p class="is-size-3">Hide</p>
                      </div>
                    <hr class="dropdown-divider">
                    <div (click)="editSubGroup(subGroup)" class="dropdown-item">
                        <p class="is-size-3">Edit</p>
                    </div>
                    <hr class="dropdown-divider">
                    <div (click)="deleteSubGroup(subGroup)" class="dropdown-item">
                      <p class="is-size-3">Delete</p>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="column">
    <div *ngIf="subGroups.length === 0 && rowData.length === 0" class="columns">
      <div class="column">
        <button (click)="openAddProductSubGroup()" class="button is-large is-fullwidth primary">Add Subgroup +</button>
      </div>
      <div class="column">
        <button (click)="openAddProduct()" class="button is-large is-fullwidth primary">Add Product +</button>
      </div>
    </div>
    <button *ngIf="subGroups.length !== 0 || rowData.length !== 0" (click)="openAddProduct()" class="button is-large is-fullwidth primary">Add Product +</button>
    <table class="table is-striped is-hoverable is-fullwidth">
      <tr>
        <th>#</th>
        <th *ngFor="let col of columnDefs">{{ col.field | titlecase }}</th>
        <th>Options</th>
      </tr>
      <tbody>
        <ng-container *ngFor="let product of rowData; let i = index;">
          <tr [class.is-selected]="first">
            <th>{{i + 1}}</th>
            <td *ngFor="let col of columnDefs">{{product[col.field]}}</td>
            <td>
              <div class="dropdown" [attr.id]="'productDropdown' + i" (click)="switchDropdown('productDropdown', i, $event)">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                    <span>Options</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                  <div class="dropdown-content">
                    <div (click)="openEditProductModal(product)" class="dropdown-item">
                        <p class="is-size-3">Edit</p>
                    </div>
                    <hr class="dropdown-divider">
                    <div (click)="deleteProduct(product)" class="dropdown-item">
                      <p class="is-size-3">Delete</p>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

  
  
  
<app-modal id="addProductGroupModal">
  <header class="modal-card-head">
    <p class="modal-card-title title is-2">Create New Product Group</p>
    <button class="delete" aria-label="close" (click)="clearNewProductGroup();closeModal('addProductGroupModal')"></button>
  </header>
  <section class="modal-card-body">
    <div class="level">
      <div class="level-left">
        <input [(ngModel)]="newProductGroup" class="field-input level-item" type="text" placeholder="Product Group Name">
        <button class="button is-large primary level-item" (click)="addSubTabClicked()">Add Subgroup</button>
      </div>
    </div>
    <ol type="1">
      <li class="indent-subgroups level" *ngFor="let subgroup of newSubGroups; let i = index">
        <div class="level-left">
          <input [(ngModel)]="subgroup.name" type="text" placeholder="SubGroup Name" class="level-item">
          <button class="button delete is-medium is-danger level-item" (click)='removeSubGroup(i)'></button>
        </div>
      </li>
    </ol>
  </section>
  <footer class="modal-card-foot">
    <div class="right-submit">
      <button class="button-std primary" (click)="addNewProductGroup()">Create</button>
    </div>
  </footer>
</app-modal>



<app-modal id="addProductSubGroupModal">
  <header class="modal-card-head">
      <p *ngIf="currentGroupSelection !== undefined" class="modal-card-title title is-2">Add Subgroup To {{currentGroupSelection.name}}</p>
      <p *ngIf="currentGroupSelection === undefined" class="modal-card-title title is-2">Add Subgroup</p>
      <button class="delete" aria-label="close" (click)="clearNewProductSubGroup();closeModal('addProductSubGroupModal')"></button>
  </header>
  <section class="modal-card-body">
    <div class="level" *ngFor="let obj of newSubGroupObjects; let i = index;">
      <div class="level-left">
        <h3 class="level-item" style="display: inline">{{i + 1}}.</h3>
        <input class="level-item" [(ngModel)]="newSubGroupObjects[i].name" class="field-input" type="text" placeholder="New Subgroup Name">
        <button *ngIf="i !== 0" class="button level-item delete is-medium is-danger" (click)='removeSubGroupObject(i)'></button>
        <button *ngIf="i === (newSubGroupObjects.length - 1)" (click)="addSubGroup()" class="level-item button is-large primary">Add Subgroup</button>
      </div>
    </div>
  </section>
  <footer class="modal-card-foot">
      <div class="right-submit">
        <button class="button-std primary" (click)="addNewSubGroup()">Submit</button>
      </div>
    </footer>
</app-modal>



<app-modal id="addProductModal">
  <header class="modal-card-head">
    <p class="modal-card-title title is-2">Add Product</p>
    <button class="delete" aria-label="close" (click)="clearNewProduct();closeModal('addProductModal')"></button>
  </header>
  <section class="modal-card-body">
    <div *ngFor="let obj of newProductObjects; let i = index;" class="level">
      <div class="level-left">
        <input [(ngModel)]="newProductObjects[i].key" class="level-item field-input" type="text" placeholder="New Field Name">
        <input [(ngModel)]="newProductObjects[i].value" class="level-item field-input" type="text" placeholder="Product Name">
        <button *ngIf="i !== 0" class="button level-item delete is-medium is-danger" (click)='removeProductObject(i)'></button>
        <button *ngIf="i===(newProductObjects.length - 1)" (click)="addProductField()" class="level-item button is-large primary">Add Field</button>
      </div>
    </div>
  </section>
  <footer class="modal-card-foot">
    <div class="right-submit">
      <button class="button-std primary" (click)="addNewProduct()">Submit</button>
    </div>
  </footer>
</app-modal>

<app-modal id="editProductModal">
  <header class="modal-card-head">
    <p class="modal-card-title title is-2">Edit Product</p>
    <button class="delete" aria-label="close" (click)="clearNewProduct();closeModal('editProductModal')"></button>
  </header>
  <section class="modal-card-body">
    <div *ngFor="let obj of newProductObjects; let i = index;" class="level">
      <div *ngIf="obj.key != 'db_id'" class="level-left">
        <input [(ngModel)]="newProductObjects[i].key" class="level-item field-input" type="text" placeholder="New Field Name">
        <input [(ngModel)]="newProductObjects[i].value" class="level-item field-input" type="text" placeholder="Product Name">
        <button *ngIf="i !== 0" class="button level-item delete is-medium is-danger" (click)='removeProductObject(i)'></button>
        <button *ngIf="i === (newProductObjects.length - 1)" (click)="addProductField()" class="level-item button is-large primary">Add Field</button>
      </div>
    </div>
  </section>
  <footer class="modal-card-foot">
    <div class="right-submit">
      <button class="button-std primary" (click)="submitEditProduct()">Submit Changes</button>
    </div>
  </footer>
</app-modal>

<app-modal id="editProductGroupModal">
  <header class="modal-card-head">
    <p class="modal-card-title title is-2">Edit Product Group</p>
    <button class="delete" aria-label="close" (click)="closeModal('editProductGroupModal')"></button>
  </header>
  <section class="modal-card-body">
    <h2>Enter a new name for this Group</h2>
    <div class="level">
      <div class="level-left">
        <input [(ngModel)]="newProductGroupName.new" class="level-item field-input" type="text" placeholder="{{newProductGroupName.old}}">
      </div>
    </div>
  </section>
  <footer class="modal-card-foot">
    <div class="right-submit">
      <button class="button-std primary" (click)="submitEditProductGroup()">Submit Changes</button>
    </div>
  </footer>
</app-modal>
  