<!-- <div class="container is-fluid">
  <div class="level is-mobile">
    <div class="level-left">
      <select class="level-item groups" [(ngModel)]='currentGroupSelection' (ngModelChange)='groupValueChanged()'>
          <option *ngFor="let category of products" [ngValue]="category">{{category.name}}</option>
      </select>
      <button class="level-item circle primary" (click)="addProductGroup()">+</button>
      <button *ngIf="currentGroupSelection != undefined && !currentGroupSelection.hidden" id="groupButton" class="level-item button-std primary" (click)="toggleGroupHidden()">Hide Group</button>
      <button *ngIf="currentGroupSelection != undefined && currentGroupSelection.hidden" id="groupButton" class="level-item button-std primary" (click)="toggleGroupHidden()">Show Group</button>
      <button *ngIf="subGroups.length === 0 && rowData.length === 0 && currentGroupSelection != null" id="groupButton" class="level-item button-std primary" (click)="addProductSubGroup()">Add Subgroup</button>
      <button class="right" *ngIf="subGroups.length == 0 && currentGroupSelection != undefined" class="level-item button-std primary" (click)="addProduct()">Add Product</button>
    </div>
  </div>
  <div class="indent level is-mobile" *ngIf="subGroups.length > 0">
      <div class="level-left">
      <select class="level-item groups" [(ngModel)]='currentSubGroupSelection' (ngModelChange)='subGroupValueChanged()' [disabled]="subGroups.length == 0">
        <option *ngFor="let group of subGroups" [ngValue]="group">{{group.name}}</option>
      </select>
      <button class="level-item circle primary" (click)="addProductSubGroup()">+</button>
      <button *ngIf="currentSubGroupSelection != undefined && !currentSubGroupSelection.hidden" id="subGroupButton" class="level-item button-std primary" (click)="toggleSubGroupHidden()">Hide Sub-Group</button>
      <button *ngIf="currentSubGroupSelection != undefined && currentSubGroupSelection.hidden" id="subGroupButton" class="level-item button-std primary" (click)="toggleSubGroupHidden()">Show Sub-Group</button>
      <button *ngIf="subGroups.length != 0 && currentSubGroupSelection != null" class="level-item button-std primary" (click)="addProduct()">Add Product</button>
      </div>
  </div>
  <div class=" level is-mobile product-grid">
    <ag-grid-angular class="level-item ag-fresh"
      [gridOptions]="gridOptions"
      class="ag-theme-balham"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      (gridReady)="onGridReady($event)"
      >
    </ag-grid-angular>
  </div>
</div> -->
<div class="columns">
  <div class="column is-4">
      <button (click)="addProductGroup()" class="button is-large is-fullwidth primary">Add Product Group +</button>
      <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>#</th>
            <th>Group Name</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let product of products; let i = index;let first = first">
            <tr [attr.id]="'productGroupRow' + i" (click)="productGroupRowSelected(product, i)" [class.is-selected]="first">
              <th>{{i}}</th>
              <td>{{product.name}}</td>
              <td>
                <div class="dropdown" [attr.id]="'productGroupDropdown' + i" (click)="switchDropdown('productGroupDropdown', i)">
                  <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                      <span>Options</span>
                      <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </button>
                  </div>
                  <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                    <div class="dropdown-content">
                      <div *ngIf="product.hidden" (click)="toggleGroupHidden()" class="dropdown-item">
                          <p class="is-size-3">Show</p>
                      </div>
                      <div *ngIf="!product.hidden" (click)="toggleGroupHidden()" class="dropdown-item">
                          <p class="is-size-3">Hide</p>
                        </div>
                      <hr class="dropdown-divider">
                      <div class="dropdown-item">
                        <p class="is-size-3">Delete</p>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
  </div>
  <div *ngIf="subGroups.length > 0" class="column">
    <button (click)="addProductSubGroup()" class="button is-large is-fullwidth primary">Add Product Subgroup +</button>
    <table class="table is-striped is-hoverable is-fullwidth">
      <tr>
        <th>#</th>
        <th>Subgroup Name</th>
        <th>Options</th>
      </tr>
      <tbody>
        <ng-container *ngFor="let subGroup of subGroups; let i = index;let first = first">
          <tr (click)="productSubGroupRowSelected(subGroup, i)" [attr.id]="'productSubGroupRow' + i" [class.is-selected]="first">
            <th>{{i}}</th>
            <td>{{subGroup.name}}</td>
            <td>
              <div class="dropdown" [attr.id]="'productSubGroupDropdown' + i" (click)="switchDropdown('productSubGroupDropdown', i)">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                    <span>Options</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                  <div class="dropdown-content">
                    <div class="dropdown-item">
                      <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
                    </div>
                    <hr class="dropdown-divider">
                    <div class="dropdown-item">
                      <p>You simply need to use a <code>&lt;div&gt;</code> instead.</p>
                    </div>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                      This is a link
                    </a>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="column">
    <div class="columns">
      <div *ngIf="subGroups.length === 0 && rowData.length === 0" class="column">
        <button (click)="addProductSubGroup()" class="button is-large is-fullwidth primary">Add Subgroup +</button>
      </div>
      <div class="column">
        <button (click)="addProduct()" class="button is-large is-fullwidth primary">Add Product +</button>
      </div>
    </div>
    <table class="table is-striped is-hoverable is-fullwidth">
      <tr>
        <th>#</th>
        <th *ngFor="let col of columnDefs">{{ col.field | titlecase }}</th>
        <th>Options</th>
      </tr>
      <tbody>
        <ng-container *ngFor="let product of rowData; let i = index;">
          <tr [class.is-selected]="first">
            <th>{{i}}</th>
            <td *ngFor="let col of columnDefs">{{product[col.field]}}</td>
            <td>
              <div class="dropdown" [attr.id]="'productDropdown' + i" (click)="switchDropdown('productDropdown', i)">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                    <span>Options</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                  <div class="dropdown-content">
                    <div class="dropdown-item">
                      <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
                    </div>
                    <hr class="dropdown-divider">
                    <div class="dropdown-item">
                      <p>You simply need to use a <code>&lt;div&gt;</code> instead.</p>
                    </div>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                      This is a link
                    </a>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

  
  
  
<app-modal id="addProductGroupModal">
  <header class="modal-card-head">
      <p class="modal-card-title title is-2">Create New Product Group</p>
    <button class="delete" aria-label="close" (click)="clearNewProductGroup();closeModal('addProductGroupModal')"></button>
  </header>
  <section class="modal-card-body">
        <input [(ngModel)]="newProductGroup" class="field-input" type="text" placeholder="Product Group Name">
        <button class="button-std primary" (click)="addSubTabClicked()">Add Subgroup</button>
        <ol type="1">
          <li class="indent-subgroups level" *ngFor="let subgroup of newSubGroups; let i = index">
            <div class="level-left">
              <input [(ngModel)]="subgroup.name" type="text" placeholder="SubGroup Name" class="level-item">
              <button class="button delete is-medium is-danger level-item" (click)='removeSubGroup(i)'></button>
            </div>
          </li>
        </ol>
  </section>
  <footer class="modal-card-foot">
    <div class="level">
      <div class="level-right">
        <button class="button is-large level-item is-success" (click)="addNewProductGroup()">Create</button>
      </div>
    </div>
  </footer>
</app-modal>



<app-modal id="addProductSubGroupModal">
    <div *ngIf="currentGroupSelection != undefined" class="top primary">
        <h2>Add Subgroup To {{currentGroupSelection.name}}</h2>
    </div>
    <div class="product-content">
      <div class="level" *ngFor="let obj of newSubGroupObjects; let i = index;">
        <div class="level-left">
          <h3 class="level-item" style="display: inline">{{i + 1}}.</h3>
          <input class="level-item" [(ngModel)]="newSubGroupObjects[i].name" class="field-input" type="text" placeholder="New Subgroup Name">
          <button *ngIf="i !== 0" class="level-item delete is-medium primary" (click)='removeSubGroupObject(i)'>-</button>
          <button *ngIf="i === (newSubGroupObjects.length - 1)" (click)="addSubGroup()" class="level-item add-field button-secondary primary">Add Subgroup</button>
        </div>
      </div>
      <div class="right-submit">
        <button class="button-std primary" (click)="addNewSubGroup()">Submit</button>
      </div>
    </div>
</app-modal>



<app-modal id="addProductModal">
  <div class="top primary">
    <h2>Add Product</h2>
  </div>
  <div class="product-content">
    <div *ngFor="let obj of newProductObjects; let i = index;">
      <input [(ngModel)]="newProductObjects[i].key" class="field-input" type="text" placeholder="New Field Name">
      <input [(ngModel)]="newProductObjects[i].value" class="field-input" type="text" placeholder="Product Name">
      <button *ngIf="i===(newProductObjects.length - 1)" (click)="addProductField()" class="add-field button-secondary primary">Add Field</button>
    </div>
    <div class="right-submit">
      <button class="button-std primary" (click)="addNewProduct()">Submit</button>
    </div>
  </div>
</app-modal>
  