<div class="columns">
  <div class="column is-4">
    <app-product-group-table
      (groupOrderChanged)="groupOrderChanged($event)"
      (groupValueChanged)="groupValueChanged($event)"
      [productGroups]="products">
    </app-product-group-table>
  </div>
  <div *ngIf="subgroups.length > 0" class="column">
    <app-product-subgroup-table 
      (subgroupValueChanged)="subgroupValueChanged($event)"
      [productSubgroups]="subgroups"
      [currentGroupSelection]="currentGroupSelection">
    </app-product-subgroup-table>
  </div>
  <div class="column">
    <app-product-table
      [currentGroupSelection]="currentGroupSelection"
      [currentSubgroupSelection]="currentSubgroupSelection"
      [subgroups]="subgroups"
      [rowData]="rowData"
      [columnDefs]="columnDefs">
    </app-product-table>
  </div>
</div>
  