<div class="container">
  <h1> Admin Portal</h1>
  <div class="level">
    <div class="level-left">
      <p class="control has-icons-left level-item">
        <input class="input" [(ngModel)]="email" type="email" placeholder="Email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
      <p class="control has-icons-left level-item">
        <input class="input" [(ngModel)]="password" (keydown)="login($event)" type="password" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
      <button [disabled]="authStatus" class="level-item button is-success is-medium" (click)="login(undefined)">
        Sign in
      </button>
      <button [disabled]="!authStatus" class="level-item button is-danger is-medium" (click)="logout()">
        Sign out
      </button>
    </div>
  </div>
<div>
<app-modal id="loginSuccessModal">
  <header class="modal-card-head has-background-success">
    <p class="modal-card-title title is-2">Successfully Logged In</p>
    <button class="delete" aria-label="close" (click)="closeModal('loginSuccessModal')"></button>
  </header>
  <footer class="modal-card-foot">
    <div class="right-submit">
      <button class="button is-large is-success" (click)="closeModal('loginSuccessModal')">Dismiss</button>
    </div>
  </footer>
</app-modal>